.testStyles {
    background-color: yellow;
}
.logo {
  background: url("/images/logo.png") no-repeat 0 11px;
  padding-left: 35px;
}


navbar {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 0px 20px 0px;
  padding:3px 10px 3px 10px;
  background: rgba(255,255,255,0.1);
  text-align: right;
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 2px black;
  z-index: 500;
}

navbar a {
 color: white;
 text-decoration: underline;
}
navbar a:hover {
  color: white;
  cursor: pointer;
}
navbar a:visited {
 color: white;
  cursor: pointer; 
}

footer {
  text-align: center;
}

header {
  background-color: #263d36;
  background-image: url("/images/header.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0.75;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  max-height: 300px;
 padding: 10vw 2em;
  text-align: center;
}
header img {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  height: 50px;
  vertical-align: top;
  width: 50px;
}
header h1 {
  display: inline-block;
  color: white;
  font-size: 5em;
  font-weight: 500;
  text-shadow: 1px 1px 2px black; 
}

header p {
  color: white;
  font-size: 3em;
  font-weight: 400;
  /*text-shadow: 1px 1px 2px black; */
  background: rgba(0, 0, 0, 0.8);
  padding: 2px;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

.offer-row {
  border-bottom: 1px solid rgb(200, 200, 200);
}
.offer-box {
 /*border-right: 1px solid rgb(200, 200, 200); 
 height: 300px;*/
}
h3 {
  font-weight: 200;
  font-size: 2em;
}
.offer-box p {
  font-size: 1em;
}

.logoNav {
  background: url("/images/logo.png") no-repeat 0 11px;
  padding-left: 35px;
}

/* -- old styles below -- */

.prop-thumbnail{
  float: left;
  max-width: 150px;
  margin: 0px 15px 10px 0px;
}

.omg-yellow {
  background-color: yellow;
}


.prop-tile-small{
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 40px;
  background: #FFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.prop-jumbo-img{
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 600px;
  line-height: 20px;
  margin-bottom: 30px;
  padding-bottom: 48px;
  padding-top: 48px;
  width: 100%;
  background-size:     cover;                    
  background-repeat:   no-repeat;
  background-position: center center;    
  position: fixed;
  top: 0;
  left: 0;   
  z-index: -100;
}



.property-view-title{
    opacity: 1;
    color: rgb(0,0,0);
}

/* nav bar */
.avatar-nav {
  max-height:30px;
  margin-right: 10px;
}


/* property page */ 
body {
  font-family: 'Open Sans', sans-serif;
}
.property-shortcuts {
  border-bottom: 1px solid rgb(150,150,150);
}
.property-shortcuts ul {
  margin-bottom: 0px;
}
.property-shortcuts li {
  cursor: pointer;
}

.prop-panel {
  background-color: rgba(255,255,255,0.75);
  -webkit-box-shadow: 1px 1px 1px 0px rgba(122,120,122,1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(122,120,122,1);
  box-shadow: 1px 1px 1px 0px rgba(122,120,122,1);
}
.prop-panel-title {
  border-bottom: 1px rgb(150,150,150) solid;
  background-color: rgb(255,255,255);
}

.glyphicon-mini {
  font-size: 12px;
}

.prop-thumb{
  max-width: 125px;
}

.prop-address {
  margin: 30px 0px 20px 0px; 
  padding: 0px;
  text-align: center;

}
.prop-address-1 {
  font-weight: 600;
  text-align: center; 
  font-size: 30px;  
  line-height: 28px; 
}
.prop-address-2 {
  font-weight: 400; 
  color: rgb(100,100,100);
  font-size: 24px; 
}
.prop-info-block{
  display: inline-block; 
  padding: 0px 13px 0px 13px; 
  text-align: center; 
  border-left: 1px solid rgb(100,100,100);
}
.prop-info-block-left {
  display: inline-block; 
  padding: 0px 13px 0px 13px; 
  text-align: center; 
}
.prop-info-value {
  font-weight: 600; font-size: 16px;
}
.prop-info-label {
  color: rgb(100,100,100); font-weight: inherit; font-size: inherit;
}
.prop-info {
  margin-bottom: 5px;
}
.prop-jumbo-img{
  opacity: 1;
  background-image: url('/images/95124.jpg');
}


